fastapi==0.116.1
uvicorn[standard]==0.35.0
websockets==15.0.1
python-multipart==0.0.20
python-dotenv==1.1.1
pydantic-settings==2.11.0
azure-ai-projects==2.2.0
azure-ai-voicelive[aiohttp]==1.2.0
openai==2.44.0
mcp==1.20.0
sse-starlette==3.0.3
azure-identity==1.25.3
httpx==0.28.1
pymupdf==1.27.2.3
rapidocr_onnxruntime==1.2.3
